<% include ../partials/header.ejs %>
<% include ../partials/main_nav.ejs %>
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><% title %> </h1>  
            <a href="./supercarslist/add" class="btn btn-primary" 
            role="button"><i class="fas fa-plus-circle"></i> Add Supercar</a>      
        <br>
        <table class="table table-bordered table-striped table-hover">
            <tr class="d-flex">
                <th class="text-center col-2">Brand</th>
                <th class="text-center col-2">Model</th>
                <th class="text-center col-1">Power</th>
                <th class="text-center col-4">Topspeed</th>
                <th class="text-center col-1">Price</th>
            </tr>
            <% for(let count=0;count<SupercarList.length;count++) { %>    
            <tr class="d-flex">
                <td class="text-center col-2"><%= SupercarList[count].Brand %></td>
                <td class="text-center col-2"><%= SupercarList[count].Model %></td>
                <td class="text-center col-1"><%= SupercarList[count].Power %></td>
                <td class="text-center col-4"><%= SupercarList[count].Topspeed %></td>
                <td class="text-center col-1"><%= SupercarList[count].Price %></td>
                <td class="text-center col-1">
                    <a href="/supercarslist/edit/<%= SupercarList[count]._id %>" 
                        class="btn btn-primary btn-sm">
                        <i class="fas fa-pencil-alt"></i> Edit
                    </a>
                </td>
                <td class="text-center col-1">
                    <a href="/supercarslist/delete/<%= SupercarList[count]._id %>" 
                        class="btn btn-danger btn-sm">
                        <i class="fas trash-alt"></i> Delete
                    </a>
                </td>
            </tr>
            <% } %>
        </table>
    </div>
    </div>
</main>
<% include ../partials/bottom_nav.ejs %>
<% include ../partials/footer.ejs %>